GOOGLE_CLOUD_PROJECT=hello-world-418507
GOOGLE_CLOUD_LOCATION=us-central1
GOOGLE_GENAI_USE_VERTEXAI=True
STAGING_BUCKET=gs://2025-adk

# Firestore config
COLLECTION=expert_requests_dev
DATABASE_ID=expert-request-dev
MCP_SERVER_URL=https://er-mcp-server-671247654914.us-central1.run.app

# Gemini Enterprise config
DISPLAY_NAME="ER Query Agent"
APP_ID=agentspace-dev_1744685873939
DESCRIPTION="This agent a helpful agent"
TOOL_DESCRIPTION="This agent a helpful agent"
OAUTH_AUTH_URI="https://accounts.google.com/o/oauth2/v2/auth?response_type=code&client_id=671247654914-onsqf0obdfnkdpr0uj59hruev41u54i1.apps.googleusercontent.com&redirect_uri=https%3A%2F%2Fvertexaisearch.cloud.google.com%2Fstatic%2Foauth%2Foauth.html&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcloud-platform&access_type=offline&include_granted_scopes=true&prompt=consent"
AUTH_ID=gemini-enterprise-app-auth
ENGINE_ID=1082966726557040640
AGENT_ID=15876949712725756287

A2A_DISPLAY_NAME="ER Query Agent (A2A)"
A2A_ENGINE_ID=4661076630502899712
A2A_AGENT_ID=9942611703562405489
A2A_AUTH_ID=gemini-enterprise-app-a2a-auth
A2A_OAUTH_AUTH_URI="https://accounts.google.com/o/oauth2/v2/auth?response_type=code&client_id=671247654914-onsqf0obdfnkdpr0uj59hruev41u54i1.apps.googleusercontent.com&redirect_uri=https%3A%2F%2Fvertexaisearch.cloud.google.com%2Fstatic%2Foauth%2Foauth.html&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcloud-platform&access_type=offline&include_granted_scopes=true&prompt=consent"
AGENT_IDENTITY=N/A
