GOOGLE_CLOUD_PROJECT=hello-world-418507
GOOGLE_CLOUD_LOCATION=us-central1
GOOGLE_GENAI_USE_VERTEXAI=True
STAGING_BUCKET=gs://2025-adk

# Firestore config
COLLECTION=expert_requests_dev
DATABASE_ID=expert-request-dev
MCP_SERVER_URL=https://er-mcp-server-671247654914.us-central1.run.app

# Gemini Enterprise config
DISPLAY_NAME="ER Query Agent (MCP)"
APP_ID=agentspace-dev_1744685873939
DESCRIPTION="This agent a helpful agent"
TOOL_DESCRIPTION="This agent a helpful agent"
OAUTH_AUTH_URI="https://accounts.google.com/o/oauth2/auth?response_type=code&client_id=671247654914-onsqf0obdfnkdpr0uj59hruev41u54i1.apps.googleusercontent.com&redirect_uri=https%3A%2F%2Fvertexaisearch.cloud.google.com%2Foauth-redirect&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.readonly+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.metadata.readonly+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fgmail.readonly+https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcalendar.readonly&state=KWNs4fUPk5WpsREbL4RkKrBTDuOOtW&access_type=offline&include_granted_scopes=true&prompt=consent"
AUTH_ID=test-agentspace-auth
ENGINE_ID=3034520701022240768
AGENT_ID=6853584245712474004
A2A_ENGINE_ID=7981724891688730624
